$light: #fff;
$primary-color: #2D0B5A;
$secondary-color: #E5257D;
$base-color: #6F8BA4;
$title-color: #2D0B5A;
$black: #222;
$gray: #eff0f3;
$secondary-bg: #f4f9fc;
$border-color: #fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom, #00A99D, #F7941D);
